$primary-color: #ff4c68;
$secondary-color: #fff;
$tertiary-color: #8f8f8f;

$font-family1: 'Montserrat', sans-serif;
$font-family2: 'Ubuntu', sans-serif;

$sidebar_color: #ff4c68;
$bodyContent_color: lightgray;
