@import "config";

body {
  font-family: $font-family1;
}

.title {
  background-color: $primary-color;
  color: $secondary-color;
  .container-fluid {
    padding: 3% 15%;
  }
}

h1 {
  font-family: $font-family1;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: $font-family1;
}
p {
  color: $tertiary-color;
}

#footer {
  padding: 7% 15%;
  text-align: center;
}

.navbar {
  padding-bottom: 0 0 4.5rem;
}

.navbar-brand {
  font-family: $font-family2;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: $primary-color;
}

.banner-button {
  margin: 5% 6% 15% 0;
}

.title-image {
  width: 80%;
  transform: rotate(25deg);
  right: 10%;
}

#features {
  padding: 7% 15%;
  background-color: $secondary-color;
  position: relative;

  .feature-container {
    text-align: center;
    padding: 5%;
  }
}

#pricing {
  padding: 100px;
  text-align: center;

  .pricing-column {
    padding: 3% 2%;
  }
}

#cta {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 7% 15%;
  text-align: center;
}
.cta-heading {
  font-family: $font-family2;
  font-size: 3.5rem;
  line-height: 1.5;
}

.media-icons {
  margin: 20px 10px;
  height: 80%;
  text-decoration: none;
}

@media (max-width: 1180px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
