@import url("https://fonts.googleapis.com/css?family=Rajdhani:500,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

$upload-font-color:pink;
$upload-icon-color:pink;
$upload-background-color: linear-gradient(40deg, #ff6ec4, #7873f5);
$upload-font-family: "Poppins", sans-serif;
$upload-image-wrapper-background-color:#ff4c68;

.upload-img-wrapper{
    background:$upload-image-wrapper-background-color;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.15);
    border-radius: .75em;
    position: relative;
    display:flex;
    align-items:center;
    justify-content:center;

    form{
        width:80%;

        h2{
            color:#3e3f5e;
            text-align: center;
        }
        
        .left_side
        {
        

        .drag-area{
            font-family: $upload-font-family;
            border: 3px dashed $upload-font-color;
           
            position: absolute;
            top: 10%;
            right: 49%;
            width: 49%;

            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 10px auto;
        
            .visually-hidden {
                position: absolute !important;
                height: 1px;
                width: 1px;
                overflow: hidden;
                clip: rect(1px, 1px, 1px, 1px);
              }
              
              input.visually-hidden:focus + label {
                outline: thin dotted;
              }
              input.visually-hidden:focus-within + label {
                outline: thin dotted;
              }

            .active{
              border: 2px solid $upload-font-color;
            }
          
            .icon{
              font-size: 100px;
              color: $upload-icon-color;
            }
          
           
          
            span{
                font-size: 21px;
                font-weight: 500;
                color: $upload-font-color;
                margin: 13px 0 15px 0;
            }
          
            button{
              padding: 10px 25px;
              font-size: 18px;
              font-weight: 500;
              border: none;
              outline: none;
              background: #fff;
              color: #5256ad;
              border-radius: 5px;
              cursor: pointer;
            }

                      
            img{
              height: 250px;
              width: 250px;
              object-fit: cover;
              border-radius: 5px;
            }
          
          }

        }

        .right_side
        {  

            .form-row{
                display:-webkit-box;
                display:flex;
                margin:.75em 0;
                position:relative;
            
                fieldset{
                    border-color: 2px solid $upload-font-color;
                    font-size: inherit;
                    padding-bottom: 14px;
                    border-radius: 14px;
                    color:#fff;
                }
               
                input,select{
                    border-radius: .5em;
                    padding:1em .5em;
                    width:100%;
                    font-family: inherit;

                    font-weight: bold;
                    -webkit-transition:100ms ease all;
                    transition:100ms ease all;
                    width:100%;
                    border:0.2em solid $upload-font-color;

                   
                    
                    &:valid {
                        + {
                            span {
                                top: 0;
                                font-size: .90rem;
                            }
                        }
                    }
                    &:focus {
                        + {
                            span {
                                top: 0;
                                color: #7b5dfa;
                                font-weight: 600;
                            }
                        }
            
                        &:invalid{
                            box-shadow: none;
                            top:50%;
                        }
            
                        &:valid{
                            top:0;
                        }
                    }
                    &:required{
                        box-shadow: none;
                    }
                    &:focus{
                        border-color:#7b5dfa;
                        outline:none;
                    }
            
                }

                button{
                    border-radius: .5em;
                    width:100%;
                    font-family: inherit;

                    background-color:#7b5dfa;
                    border:.10em solid #7b5dfa;
                    color:#fff;
                    cursor: pointer;
                    font-weight: bold;
                    transition:all 300ms ease;

                    &:focus{
                        border:0.1em solid #533cf8;
                        outline:none;
                    }

                    &:hover{
                        background:#6744f9;
                    }
                }

            }

        }

    }

}


@media screen and (max-width: 768px) {
    .upload-img-wrapper{
        form{
           .left_side{
                    .drag-area{
                   position: inherit;
                   width: auto;
               }
           }	
       }
   }

}





  